body {
  font-family: cursive;
}

p {
  border: solid 1px blue;
  padding: 5px;
}

div {
  border: solid 1px gray;
  padding: 5px;
}

.div-green {
  border: solid 1px green;
}

.div-yellow {
  border: solid 1px yellow;
}

.div-red {
  border: solid 1px red;
}

.align-center {
  text-align: center;
}



.flex-ctr {
  display: flex;
}

.flex-item {
  flex: 1;
}

.flex-item2 {
  flex: 2;
}

.flex-item3 {
  flex: 3;
}

.flex-dir-col {
  flex-direction: column;
}

.textarea {
  width: 98%;
}

