html {
  font-family: cursive, sans-serif;
}


div {
  background-color: beige;
}

#hoge1 {
  font-family: cursive;
  font-size: x-large;
  width: 300px;
  height: 200px;
  text-align: center;
  /* ブロック要素を中央ぞろえ */
  margin: 0 auto;
}

p {
  background-color: aquamarine;
}

/* 疑似クラス */
p:hover {
  background-color: yellow;
}

small {
  border: solid 1px greenyellow;
  /* インライン要素の幅指定 */
  display: inline-block;
  width: 200px;
}
